.savings{
    height:1.8em;
    background-color: red;
    text-transform: uppercase;
    text-align: center;
    font-weight: 450;
}
.companyPicture{
    display: flex;
    align-items: center;
    justify-content: center;
    height:30vh;
    background-image: url('/src/images/rectangle.png');
}

.bikeHeadingLogo{
    color:white;
    font-size:7.3vw;
    line-height:0.9em;
    font-weight:900;
    text-transform:uppercase;
    font-family:Switzer
}
.motto{
    text-transform: uppercase;
    height: 20vh;
    background-color:  #ffff;
    padding-left: 6em;
    padding-top:4em;
}
.firstLine{
    height:4px;
    width: 15%;
    background-color: black;
}
.secondLine{
     
    margin-top:10px;
    height:4px;
    width: 20%;
    background-color: red;
}

.kidsBikeButton{
    padding-bottom:1rem;
    text-align: center;
}


.forest-image{
    width: 450px;
    height: 390px;
}

.last-section{
    margin-top:30px;
    padding:20px;
}
.heading-subtext{
    padding-top:20px;
}

.image-text{
    display: flex;
}
.first-imageText{
   display: flex;
    margin-top:20px;
    padding:40px;
}

.first-text-section{
    border:" ";
    order:2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
.first-image-section{
    border: " ";
    order:1;
}
.second-imageText{
    margin-top:20px;
    padding:20px;
}

.text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:" ";
}

.image-section{
    text-align: center ;
    border: " ";
}


/* these are for the footer section */
